table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 80%;
    
  }
  button{
    border-radius: 5px;
    border-color: aqua;
  }
  h2{
    margin: 5px;
    color: #6ba3da;
  }
  td, th {
    border: 1px solid black;
    text-align: left;
    padding: 8px;
  }
  
    /* tr:nth-child(even) {
      background-color: #dddddd;
    } */
  input{
      width: 500px;
      height: 100px;
      border-radius:10px ;
  }

  input.seach{
    width: 300px;
    height: 35px;
  }
 div.comment{
    bottom: 5px;
  }
  .list-comment{
    display: flex;
    flex-direction: column;
  }